

.comments-group-alt:after {
    content: "";
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    border: 1px solid #ffd700;
}

.comments-group-alt.comments-group-alt-with-avatars:after {
    /* Offset the border to stay lined up with the avatar */
    left: calc(var(--comments-avatar-size) + var(--comments-avatar-margin));
}

.comments-group-alt .comments-group-alt {
    padding-bottom: 0;
    margin-top: calc(var(--comments-spacing) * 0.66);
    margin-bottom: 0;
}

.comments-group-alt .comments-group-alt:after {
    content: none;
}

.comments-group-alt {
    position: relative;
    padding-bottom: var(--comments-spacing);
    margin-bottom: var(--comments-spacing);
}

.comments-group-alt:target {
    margin-top: calc(-1 * var(--comments-spacing));
    margin-left: calc(-0.5 * var(--comments-spacing));
    margin-right: calc(-0.5 * var(--comments-spacing));
    padding-top: var(--comments-spacing);
    padding-left: calc(0.5 * var(--comments-spacing));
    padding-right: calc(0.5 * var(--comments-spacing));
    animation: highlight 1.5s ease-in-out;
    border: solid 1px var(--comments-color-accent);
    border-radius: var(--comments-border-radius);
}
